{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style_signin.css' %}">
</head>
<body> 
    <div class="form_container">
        <div class="left">
            <div class="login_container">
                <h1>Bienvenido</h1>
                <span class="subtitle">Por favor ingrese sus datos</span>
                
                <button class="google_btn"><img src="/static/images/google.png" alt="">Ingrese con Google</button>

                <div class="line">
                    <span></span>
                    <small>or</small>
                    <span></span>
                </div>

                <form action="/SignIn/" method="POST">
                {{error}}
                {% csrf_token %}
                    <input type="text" name="username" id="username" placeholder="Usuario">
                    <input type="password" name="password" id="password"  placeholder="Contraseña">

                    <div class="actions">
                        <div class="wrapper">
                            <input type="checkbox" id="remember">
                            <label for="remember">Recordar</label>
                        </div>
                        <a href="#">Olvidé mi contraseña</a>
                    </div>

                    <button type="submit" class="login_btn">Ingresar</button>
                </form>

                <p class="signup_info">
                    ¿No tienes acceso? <a href="#">Contáctenos</a>
                </p>
            </div>
        </div>
        <div class="right">
            <div class="info">
                <p>Para lograr la excelencia debe ser fácil</p>
                <h2>SmartSigma</h2>
                <div class="arrows">
            </div>
        </div>
    </div>
</body>
</html>