@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100;300;400&display=swap');
:root{
    --color-barra-lateral:rgb(248, 249, 255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(0, 0, 0);

    --color-menu-hover:rgb(233, 233, 233);
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:rgb(0,0,0);
    --color-boton-texto:rgb(255,255,255);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(135, 141, 255);
    --color-scroll-hover:rgb(141, 152, 255);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


/* MENU */
.menu_container {
    width: 100%;
    top: 0;
    left: 0;
    height: 62px;
    background-color: var(--color-barra-lateral);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    z-index: 1000; 
}

.search-bar {
    width: 65%;
    max-width: 700px;
    background: rgba(235, 238, 255, 0.953);
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin-right: 255px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input[type="text"] {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
}

.search-bar button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0 20px 0 0;
    display: flex;
    align-items: center;
}

.search-bar ion-icon {
    width: 20px;
    height: 20px;
    color: #333;
}

.btn-config,
.btn-profile {
    margin-right: 10px;
    padding: 5px 5px; 
    border: none;
    border-radius: 5px;
    background-color: var(--color-barra-lateral);
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.navbar-right {
    position: absolute; 
    top: 34px;
    right: 30px; 
    transform: translateY(-50%);
}

.btn-profile {
    margin-right: 0;
}


/* BARRA LATERAL */
.barra-lateral{
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 150%;
    height: calc(150% - 60px);
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 80px;
}

.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}

/* Nombre de Página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-top: -11px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    margin-left: 10px;
    min-width: 50px;
    font-size: 32px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 2px;
    font-size: 22px;
}

/* Botón */
.barra-lateral .boton{
    width: 80%;
    height: 42px;
    margin-bottom: 25px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton span {
    margin-right: 10px; 
    font-size: 15px;
}
.barra-lateral .boton ion-icon{
    min-width: 33px;
    font-size: 24px;
}

/* Menu Navegación */
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
}

.barra-lateral .navegacion li{  
    margin-left: -15px;
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a {
    width: 236px;
    height: 38px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover {
    width: 236px;
    border-radius: 20px;
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
    max-height: 100px;
}

.barra-lateral .navegacion a span {
    margin-left: 8px;
    font-size: 15px;
}

.barra-lateral .navegacion ion-icon {
    margin-left: 7px;
    min-width: 35px;
    font-size: 18px;
}


/* DESIGN RESPONSIVE */
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }

}

@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
    
}