{% extends 'layouts/index_sidebar.html' %}

{% block content %}

        <div class="right_col" role="main" style="margin-left: 350px;">
        <div class="form-container" style="margin-right: 70px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); padding: 10px 0px;">

          <div class="container-tabs">
            <input type="radio" name="slider" id="ventas" checked>
            <input type="radio" name="slider" id="productos">
            <input type="radio" name="slider" id="insumos">
            <input type="radio" name="slider" id="puestos">
            <nav>
              <label for="ventas" class="ventas">Añadir Ventas</label>
              <label for="productos" class="productos">Añadir Productos</label>
              <label for="insumos" class="insumos">Añadir Insumos</label>
              <label for="puestos" class="puestos">Añadir Puestos</label>
              <div class="slider"></div>
            </nav>

            <section>
              <div class="content content-1">
                <form action="ingresardatos" method="POST" style="padding: 40px 0px;">
                  {% csrf_token %}
                      <input id="sku" name="sku" type="text" required="required" placeholder="SKU">
                      <input id="cantidad" name="cantidad" type="number" required="required" placeholder="Cantidad">
                      <input id="precio" name="precio" type="number" required="required" placeholder="Precio">
                      <input id="fecha" name="fecha" type="date" required="required" placeholder="Fecha">
                    <button type="submit" class="registrar_btn">Registrar Venta</button>
              </div>
                </form>   
          </div>       
        </div>

              <div class="content content-2"> 
                <div class="title"></div>
              </div>       

              <div class="content content-3">
                <div class="title"></div>
              </div>

              <div class="content content-4">
                <div class="title"></div>
              </div>
            </section>
          </div>


          

        <style>
          /* Diseño del Tab */
          .container-tabs {
            max-width: 1200px; 
            width: 300%; background-color: #fff; 
            padding: 0 0; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            flex-direction: column; 
            margin-top: 10px;
            margin-left: -46px;
          }

          .container-tabs nav {
            position: relative;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .container-tabs nav::after {
            content: "";
            background: silver;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 47px;
            filter: blur(0.5px);
          }

          .container-tabs nav label {
            position: relative;
            display: block;
            height: 100%;
            width: auto;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
            font-size: 17px;
            font-weight: 599.7;
            transition: all 0.3s ease;
            margin: 0 70px;
            color: #757575;
          }

          #productos:checked ~ nav label .ventas,
          #productos:checked ~ nav label .productos,
          #productos:checked ~ nav label .insumos,
          #productos:checked ~ nav label .puestos{
            color: silver
          }

          input[type='radio']{
            display: none;
          }

          .container-tabs nav .slider {
            position: absolute;
            height: 4px;
            background-color: #000000;
            border-radius: 20px;
            width: 20%;
            z-index: 1;
            left: 0;
            bottom: 0;
            transition: all 0.3s ease;
            filter: blur(0.4px);
          }

          #productos:checked ~ nav .slider {
            left: 26.6%;
          }

          #insumos:checked ~ nav .slider {
            left: 52.2%;
          }

          #puestos:checked ~ nav .slider {
            left: 80%;
          }

          #ventas:checked ~ nav .ventas {
            color: #000000;
          }

          #productos:checked ~ nav .productos {
            color: #000000;
          }

          #insumos:checked ~ nav .insumos {
            color: #000000;
          }

          #puestos:checked ~ nav .puestos {
            color: #000000;
          }

          section {
            filter: blur(0.3px);
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          section .content {
            display: none;
            margin-bottom: 20px;
          }

          #ventas:checked ~ section .content-1 {
            display: block;
          }

          #productos:checked ~ section .content-2 {
            display: block;
          }

          #puestos:checked ~ section .content-3 {
            display: block;
          }

          #puestos:checked ~ section .content-4 {
            display: block;
          }

          section .content-1 {
            margin-top: 35px;
            margin-right: 43px;
          }

          /* Diseño de los Forms */
          .registrar_btn {
            margin: 1.3rem auto;
            width: 100%;
            height: 40px;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            background-color: #000000;
            color: #fff;
            font-size: 16px;
          }

          .content-1 input[type='text'],
          input[type="number"],
          input[type="date"] {
            margin-bottom: 2rem;
            padding-bottom: 10px;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid rgb(133, 133, 133);
            font-size: 1rem;
          }
        </style>
    
{% endblock %}